/*目录*/
.tocbot-link {
    color: #ffa3c9;
}
/*目录头*/
p[class*="toc-header"] {
    background: #ffa3c9;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
aside[class*="category_bar"] {
    background: #ffa3c9;
    background-size: 100% 100%;
    -webkit-background-clip: text;
}