figure.highlight { /* 控制代码框顶栏颜色、宽度、圆角等 */
    /*
    background: #21252b;
    background: rgb(246,248,250);
    */
    background: var(--highlight-bg-color);
    border-radius: 10px;
    box-shadow: 1px 2px 22px 1px rgba(0, 0, 0, .3);
    padding-top: 16px;
    overflow: hidden;
}
figure.highlight>table {
	border-radius: 10px;
	margin-top: 10px;
	
}
figure.highlight::before { /* 绘制三个小圆点 */
    background: #fc625d;
    border-radius: 50%;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' ';
    height: 12px;
    left: 12px;
    margin-top: -9px;
    position: absolute;
    width: 12px;
}